@model App.Models.Servicio

@{
    ViewData["Title"] = "Edit";
}

<h1 class="btn btn-warning">Editar</h1>

<h4>Servicio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServicioId" />
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoServicio" class="control-label"></label>
                <select asp-for="TipoServicio" class="form-control" asp-items="@(ViewData["TiposServicio"] as SelectList)"></select>
                <span asp-validation-for="TipoServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Velocidad" class="control-label"></label>
                <select asp-for="Velocidad" class="form-control" asp-items="@(ViewData["Velocidades"] as SelectList)"></select>
                <span asp-validation-for="Velocidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCable" class="control-label"></label>
                <select asp-for="TipoCable" class="form-control" asp-items="@(ViewData["TiposCable"] as SelectList)"></select>
                <span asp-validation-for="TipoCable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ubicacion" class="control-label"></label>
                <input asp-for="Ubicacion" class="form-control" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-dark">Regresar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
